<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>COP</title>

<link href="css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="css/style.css" />


<script type="text/javascript">
	$(document).ready(function() {
		$("#myModal").modal('show');
	});
</script>



</head>
<body>
	<nav class="" navbar navbar-dark green" role="navigation">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#example-navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="#">CHOLERA OUTBREAK PREDICTION</a>
		</div>

		<div class="collapse navbar-collapse" id="example-navbar-collapse">

			<ul class="nav navbar-nav">
				<li class="active"><a href="testHome">Home</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="testUpload">Administration <span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="testUpload">Upload</a></li>
						<li><a href="#">Test</a></li>
						<li><a href="#">Generate Reports</a></li>
					</ul></li>



			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="registration"><span
						class="glyphicon glyphicon-pencil"></span> Sign Up</a></li>
				<li><a href="testLogin"><span
						class="glyphicon glyphicon-user"></span> Login</a></li>
				<li><a href="testUpload"><span
						class="glyphicon glyphicon-user"></span> Donate</a></li>
			</ul>
		</div>

	</nav>


	<div class="container-fluid" id="hero">
		<div id="hero-overlay"></div>
		<div class="row">
			<div class="col-md-4 col-md-offset-3">
				<br> <br> <br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 >
          	<div class="well">
				<div align="center" th:if="${param.error}">
					<p style="font-size: 20; color: #FF1C19">Email or Password
						invalid, please verify</p>
				</div>
				<form role="form" th:action="@{/login}" method="POST">
					<div class="form-group">
						<label class="control-label">E-Mail</label> <input
							class="form-control" id="email" name="email"
							th:placeholder="Email" class="form-control">
					</div>
					<div class="form-group">
						<label for="inputPassword" class="control-label">Password</label>
						<input th:placeholder="password" id="password" name="password"
							class="form-control">
					</div>


					<div class="form-group">

						<button type="button" class="btn btn-primary btn-block"
							type="submit">Login</button>

					</div>


				</form>

				<form th:action="@{/registration}" method="get">
					<button class="btn btn-md btn-warning btn-block" type="Submit">Sign
						Up</button>
				</form>

				<div class="row">
					<div class="col-xs-6 col-md-8">
						<div class="checkbox">
							<label> <input checked="checked" type="checkbox">
								Remember me
							</label>
						</div>
					</div>
					<div class="col-xs-6 col-md-4">
						<button type="button" class="btn btn-link  pull-right small"
							data-toggle="modal" data-target="#basicModal">Help</button>

						<button type="button" class="btn btn-primary btn-lg"
							data-toggle="modal" data-target="#myModal">Launch demo
							modal</button>


					</div>

					<!-- Modal definition -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">Modal title</h4>
								</div>
								<div class="modal-body">...</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary">Save
										changes</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal definition ends here -->



				</div>
			</div>
		</div>
	</div>


	<div id="footer">
		<div class="container-fluid">
			<div class="col-lg-12">
				<p>Copyright &copy; Fortune Chidzikwe Capstone 2017</p>
			</div>

		</div>
	</div>



	<script src="js/jquery.min.js"></script>
	
	<script src="js/bootstrap.min.js"></script>
	
	
	<script type="text/javascript">
	$('#myModal').on('shown.bs.modal', function () {
		  $('#myInput').focus()
		})
	
	</script>
</body>

</html>