<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<div class="alert alert-info">
				<center>
					<h3>FILE UPLOAD</h3>
				</center>
			</div>
			<div id="upload-file-message"></div>
			<!-- Upload file form -->
			<form id="upload-file-form" action="/uploadcsv" method="post"
				enctype="multipart/form-data">
				<div class="alert alert-info">
					<label for="upload-file-input">Upload your file:</label> <input
						id="upload-file-input" type="file" name="uploadFile" accept="csv" />
				</div>
				

				<div>
					<button type="submit" id="save-file-input" class="btn btn-primary">Save
						File</button>
				</div>
			</form>
			
			<div>
					<button type="submit" id="submit-file" class="btn btn-primary">Preview
						File</button>
				</div>
		</div>
	</div>


	<script src="/js/upload_file.js"></script>
	
	 <script type="text/javascript">
  $(document).ready(function(){
    $('#submit-file').on("click",function(e){
		e.preventDefault();
		$('#files').parse({
			config: {
				delimiter: "auto",
				complete: displayHTMLTable,
			},
			before: function(file, inputElem)
			{
				//console.log("Parsing file...", file);
			},
			error: function(err, file)
			{
				//console.log("ERROR:", err, file);
			},
			complete: function()
			{
				//console.log("Done with all files");
			}
		});
    });
	
	function displayHTMLTable(results){
		var table = "<table class='table'>";
		var data = results.data;
		 
		for(i=0;i<data.length;i++){
			table+= "<tr>";
			var row = data[i];
			var cells = row.join(",").split(",");
			 
			for(j=0;j<cells.length;j++){
				table+= "<td>";
				table+= cells[j];
				table+= "</th>";
			}
			table+= "</tr>";
		}
		table+= "</table>";
		$("#parsed_csv_list").html(table);
	}
  });
</script>
  


</body>
</html>
